* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A0B2E;
}

.tech h2 {
  font-size: 32px;
}

header {
  background-color: #1A0B2E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  gap: 314px;
  padding: 30px 346px 30px 200px;
}

header .tech {
  color: white;
  padding-left: 150px;
}

header span {
  background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
  color: white;
}

.nav-btn button {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 8px;
  display: flex;

}


.nav-btn i {
  padding-top: 2px;
}

main {
  background-image: url(assets/hero-bg.png);
  height: 760px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgb(73, 66, 66);
  position: relative;
}

main .img-1 {
  height: 350px;
  /* width:300px; */
  padding-left: 50px;
  position: absolute;
  top: 110px;
  left: 410px;
}

main .img-2 {
  height: 200px;
  position: absolute;
  top: 180px;
  left: 570px;
}

main h4 {
  background-color: #00FF88;
  position: absolute;
  top: 135px;
  left: 725px;
  border-radius: 10000px;
  height: 30px;
  width: 60px;
  padding: 10px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 50px 1px rgb(76, 213, 76);
}

main .wave {
  color: white;
  padding-top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.p-wave {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-wave h2 {
  font-size: 60px;
}

.p-wave p {
  font-size: 16px;
  color: 300px;
}

.p-wave .btn-1 {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  border-radius: 50px;
  padding: 8px;
  border: none;
}

.p-wave .btn-2 {
  border: 2px solid #00FF88;
  border-radius: 50px;
  padding: 8px;
  color: #00FF88;
  background-color: transparent;
}

.podcast {
  background-color: #1A0B2E;
  width: 100%;
  height: 646px;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.about {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid rgb(82, 78, 78);
  padding-bottom: 80px;
}

.info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.podcast h2 {
  font-size: 48px;
  font-weight: bold;
}

.podcast p {
  font-size: 14px;
  padding-top: 16PX;
  font-weight: 300px;
  color: rgb(190, 186, 186);
}

.k {
  display: flex;
  gap: 80px;
}

.k h2 {
  font-size: 48px;
  font-weight: bold;
  color: #00FF88;
  padding-top: 80px;
}

/* Grid section */


.why-choose {
  background-color: #230E3D;
  padding: 80px 40px;
  width: 100%;
  margin: auto;
}

.why-choose h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: #2e1458;
  padding: 30px;
  border-radius: 16px;
}

.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: rgb(170, 167, 167);
}

.card.tall {
  grid-row: span 2;
}

.card.wide {
  grid-column: span 2;
}

.card.last {
  grid-column: span 1;
}

.card.one {
  grid-column: span 2;
}

.card.two {
  grid-column: span 2;
}






/* Episode section */
.container {
  height: auto;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;

}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}

.container h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
}

.container p {
  color: #b5b1b1;
  font-size: 16px;
  font-weight: 300px;
  padding: 8px;
}

.container h5 {
  color: #00FF88;
  font-size: 16px;
  font-weight: 500px;
  padding: 8px;
}

.container iframe {
  border-radius: 10px;
  width: 250px;
  height: 214px;
}

.container .cad {
  border-radius: 15px;
  width: 250px;
  height: 440px;
  background-color: #250D44;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.container h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #250D44;
  border-radius: 30px;
  padding: 30px;
  width: 1100px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-in-host {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.content h1 {
  color: white;
  font-size: 42px;
  font-weight: bold;
  margin-top: 10px;
}

.content p {
  color: #b5b1b1;
  margin-top: 14px;
  margin-bottom: 18px;
}

.social-icons {
  display: flex;
  gap: 15px;
  background-color: transparent;
}

.social-icons img {
  width: 20px;

}

.social-icons div {
  border: 1px solid gray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}

footer {
  background-image: url(assets/footer-bg.png);
  width: 100%;
  margin-top: 20px;
  height: 312px;
  background-size: cover;
}

footer .main {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

footer h1 {
  font-size: 60px;
  color: white;
  margin-top: 85px;
}

footer .extra-color {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer span {
  margin-top: 15px;
  color: rgb(197, 195, 195);
}

footer .spot {
  display: flex;
  gap: 40px;
}

footer .foot {
  color: rgb(198, 197, 197);
  margin-top: 30px;
}

footer i {
  color: white;
}

@keyframes anime {
  to {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

.img-2:hover {
  animation: anime 3s linear infinite;
}

nav ul li:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.nav-btn:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.cad:hover {
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

.btn-1:hover{
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

.btn-2:hover{
  transform: scale(1.05);
  transition: transform 0.3s linear;
}